<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--<plugins>-->
		<!--&lt;!&ndash;<plugin interceptor="com.dianping.zebra.dao.plugin.page.PageInterceptor">&ndash;&gt;-->
			<!--&lt;!&ndash;<property name="dialectClass" value="com.dianping.zebra.dao.dialect.MySQLDialect"/>&ndash;&gt;-->
		<!--&lt;!&ndash;</plugin>&ndash;&gt;-->
	<!--</plugins>-->
	<settings>
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
</configuration>